* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #f4f4f4;
}
.container {
  position: sticky;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  scroll-behavior: smooth;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  padding: 20px 40px;
}

.header {
  color: #fff;
  font-size: 1.3rem;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
}

.menu ul li a:hover{
  text-decoration: underline;
}

.main-container {
  display: flex;
  padding-top: 50px;
}

.data-row {
  border: 1px solid;
  padding: 50px 90px;
}

.data-row h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
}

.img-row {
  border: 1px solid;
}

